[Unit]
Description=Starts the RFPI routine
After=syslog.target network.target
[Service]
Type=simple
ExecStart=/etc/rfpi/runrfpi.sh
[Install]
WantedBy=multi-user.target